
<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>유저번호</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${user}">
                <td th:text="${member.u_name}"></td>
                <td th:text="${member.u_code}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>